/*GENERAL*/
/*
* {
    outline: 1px solid red;
}
*/
body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #f5f5dc;
}
/*ANCLAS / BOTONES*/

button{
    border: 0;
    background-image: linear-gradient(
        150deg,
        #346303FF,
        #346303FF
    );
    display: flex;
    font-size: 18px;
    font-weight: bold;
    padding: 4px;
    cursor: pointer;
    transition: 0.5S;
}

button:hover{
    color: #deffbf;
}
/*FORMULARIO*/
#TituloFormulario{
    font-family: "Oooh Baby", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 200%;
    color: #346303FF;
}
#ConfirmarFormulario{
    color: black;
}
#ConfirmarFormulario:hover{
    color: #deffbf;
}
#BotonesFormulario{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* HEADER */
header{
    margin-top: -2%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #346303FF;
}
header h1 {
    font-family: "Oooh Baby", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 400%;
    color: #deffbf;
    text-shadow: 6px 6px #494949;
    text-shadow: 0px 0px 30px #494949, 0px 0px 15px #494949, 3px 3px #494949;
}

#Logo{
    position: absolute;
    left: 5.5%;
    height: 25%;
    width: 10%;
    transition: 1.3s;
    margin-left: 5px;
}

/*BOTON INICIO DE SESION*/
#BotonInicio{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
#AvatarBoton{
    position: absolute;
    right: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 12%;
    background-image: linear-gradient(
        150deg,
        #346303FF,
        #deffbf
    );    border-radius: 25px;
    border: 2px;
    border-style: solid;
    border-color: black;
}
#AvatarBoton:hover {
    background: linear-gradient(150deg, #346303FF, #deffbf);
    border: 2px;
    border-style: solid;
    border-color: #deffbf;
    transition: 0.2s;
}
button:active{
    transform: scale(0.9);

}

/*DIV DE FICHAS*/

#cuerpoFichas{
    width: 100%;
    height: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

/*FICHAS*/
.ficha a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
#cuerpoFichas{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.ficha{
    width: 25%;
    padding: 5px;
    margin-top: 20px;
    background-color: #deffbf;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: box-shadow .7s;
}
.imagenFicha{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta cómo se muestra la imagen dentro del contenedor */
}
.ficha:hover{
    box-shadow: 0 0.2rem 0.6rem #346303FF;
}

.textoficha{
    text-align: justify;
    margin-left: 5px;
    margin-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
   // background-color: #346303FF;
}
.textoficha > p{
    color: black;
}
.imagenFicha{
    width: 100px;
    height: 150px;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.centrado{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*SOBRE NOSOTRAS*/
#SobreNosotras{
    width: 100%;
}

/*FOOTER*/
footer{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: #346303FF;
    margin-bottom: -5%;
}
.enlaceFooter{
    color: white;
    transition: 0.9s;
    text-decoration: none;

}
.enlaceFooter:hover p{
    transform: scale(1.1);
    transition: 0.5s;
    font-weight: bold;
    color: #deffbf;
}

